<!DOCTYPE html>

<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">

    <title>{{ title }} {% if title %}—{% endif %} {{"Microblog"|translate}}</title>

    {% for sheet in this.getCss() %}
        <link rel="stylesheet" type="text/css" href="{{ sheet.href }}"/>
    {% endfor %}
</head>
<body>
<div class="container">
    <div class="row">
        <a class="visible-xs" href="#"><img id="logo1" src="/theme/images/head.jpg"/></a>
        <a class="visible-lg visible-md visible-sm" href="#"><img id="logo2" src="/theme/images/head.jpg"/></a>
    </div>
    <div class="row">
        <div class="col-xs-12 content">
            <div class="row">
                <div class="col-sm-10 left">
                    <div class="page">
                        {{ body | raw }}
                    </div>
                </div>
                <div class="col-sm-2 right_menu">
                    <a href="#">Главная</a>
                    <a href="#">Статьи</a>
                    <a href="#">Видео</a>
                    <a href="#">Фотографии</a>
                    <a href="#">Архив</a>
                    <a href="#">Обратная связь</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 footer"><p style="text-align: center">My blog (с) 2015</p></div>
        </div>
    </div>
</div>
</body>
</html>